<h1>hi! create a new article</h1>
<form id="form1" action="/articles" method="post">
    <p>Title: <input type="text" name="title"/></p>
    <p>Content: </p>
    <p><textarea name="content" form="form1" rows="4" cols="50"></textarea></p>
    <p><input type="submit" value="Submit"></p>
</form>