<form method="POST" action="/articles">
    <label for="t-id">Title: </label>
    <input id="t-id" name="title" type="text">
    <label for="c-id">Content: </label>
    <input id="c-id" name="content" type="text">

    <input type="submit" value="submit">
</form>